<body class="register_page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="login-form">
          <form action="/auth/signup" method="POST">
            <div class="mb-3 text-center">
              <h3 class="h3 mb-3 display-5">Register</h3>
              <label class="col">
                <input
                  type="text"
                  name="username"
                  placeholder="Create a username"
                  class="form-control-lg bg-transparent text-gray"
                />
              </label>
            </div>
            <div class="mb-3 text-center">
              <label class="col">

                <input
                  type="email"
                  name="email"
                  placeholder="Your email"
                  class="form-control-lg bg-transparent text-gray"
                />
              </label>
            </div>
            <div class="mb-3 text-center">
              <label class="col">

                <input
                  type="password"
                  name="password"
                  placeholder="Your password"
                  class="form-control-lg bg-transparent text-gray"
                />
              </label>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary"
              >Register</button></div>
            {{#if errorMessage}}
              <p class="error mt-3">{{errorMessage}}</p>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</body>