<h1>What is devnout?</h1>
<p>You are learning webdev.</p>
<br />
<p>Reading concepts is important but not memorizing them. This is the first time
  you may heard about them</p>
<br />
<p>Taking notes allows you to internalize these difficult to understand topics</p>
<br />
<p>devnout allows you to take notes and access them whenever you want</p>
<br />
<p>You can also take a look at the concepts written down by others and add them
  to your library if you find them useful</p>