<body class="about_page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="about_container p-3 mb-5">
          <h1 class="display-1">What is Devnout?</h1>
          <h3 class="display-5 lh-1">You are learning webdev. Who better than
            you to summarize difficult concepts. devnout allows you to take
            notes and access them whenever you want. You can also take a look at
            the notes from others and add them to your library.
          </h3>
        </div>
      </div>
    </div>
  </div>
</body>