<body class="index">
  {{#if user}}
    <p>Welcome {{user.username}}!</p>
  {{else}}
  {{/if}}
  <h1 class="home-app-title display-4">devnout</h1>
  <h3 class="text-center"><a
      href="/posts"
      class="text-dark text-decoration-none"
    >Explore nouts</a></h3>
  <br />
</body>