<body class="dashboard_page">
  <h1 class="text-dark">Welcome to your dashboard, {{user.username}}!</h1>
  <br />
  <div class="dashboard_links">
    <a class="text-dark" href="/post-create">Create devnout</a>
    <br />
    <a class="text-dark" href="/posts">See all nouts</a>
  </div>
</body>