<h2>New devnout</h2>

<form action="/post-create" method="POST">
  <label>
    Title:
    <input type="text" name="title" />
  </label>
  <br />

  <label>
    Content:
    <textarea type="text" name="content"> </textarea>
  </label>
  <br />
  <br />

  <button type="submit"> Create devnout </button>
</form>