<body class="post_edit_page">
  <div class="edit_form_container">
    <h2 class="display-3">Editing Nout</h2>
    <form
      class="edit_create_form mb-3"
      action="/posts/{{post._id}}/edit"
      method="POST"
    >
      <label class="mb-3" style="width: 100%;">
        <p class="mb-3">Title:</p>
        <input
          type="text"
          id="title"
          name="title"
          value="{{post.title}}"
          required
        />
      </label>
      <br />
      <label style="width: 100%">
        <p class="mb-3">Content:</p></label>
      <textarea type="text" name="content" required>{{post.content}}</textarea>

      <br />
      <br />
      <button type="submit" class="edit_btn btn btn-primary mt-3">Update Nout</button>
    </form>
    <a class="post_create_link_home" href="/">Home</a>
    <a class="post_create_link_home" href="/posts">See all nuots</a>
  </div>
</body>